*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 60px;
    align-items: center;
}
.word {
    display: flex;
    font-size: 16px;
    gap: 32px;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn{
   background-color:#469165 ; 
   padding: 12px 16px;
   border: none;
   border-radius: 5px;
   color: #FFFFFF;
   box-shadow:  0 10px 10px 0 #8c8c8c81;
   cursor: pointer;
   transition: all .5s;
   font-size: 16px;
}
.btn:hover{
background-color: rgb(6, 232, 70);
color:black;
border: 2px solid #9ef560;
}
.btn-invi{
   display: flex;
   gap:3px;
   background: transparent;
   padding: 12px 16px;
   border: none;
   border-radius: 5px;
   box-shadow:  0 10px 10px 0 #8c8c8c81;
   cursor: pointer;
   color:#FFFFFF;
   font-size: 16px;
}
.btn-invi:hover{
    background-color: #FFFFFF;
    color: greenyellow;
}
.play img{
    height: 19px;
    width: 19px;
}

nav img {
    width:130px;
}
#hero{

    /* linear-gradient(#001931), */
    background: url(./assets/hero-bg.png);
    
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin-bottom: 70px;
}
 .hero-section{

text-align: center; 
align-items: center;
padding: 115px 120px 180px 120px;

} 

.hero-section h1 span{
color: #30B868;

}
.hero-section h1{
    color: #FFFFFF;
margin-bottom: 16px;
}
.hero-section p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}
.badge {
    display: inline-flex;
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 14px;
    margin-bottom: 25px;
    gap:6px;
    color: #469165;
}
.dot img{
    vertical-align: middle;
    height:15px;
    width:15px;
}
.text{
text-align: center; 
align-items: center;

}
.text {
    margin-bottom: 70px;
}
.text h2{
font-size: 45px;
font-weight: bold;
}
.text p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.card{
    display: flex;
    justify-content: space-around;
    gap:24px;
    margin:0 120px;
    margin-bottom: 120px;
}
.card-info img{
    justify-content: center;
    border-radius: 50%;
    background-color: orangered;
    padding: 10px;
}
.card-info{
    padding: 24px;
    text-align: center;
    border-radius: 8px;
    box-shadow:  0 10px 10px 0 #8c8c8c81;
}
.card-info *{
    margin-bottom: 16px;
}
#brain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:60px;
    margin: 100px;
    padding-right: 20px;
    margin-bottom: 120px;
}
#brain .light img{
    width: 550px;
    height: 550px;
}
.brain-content .upper{
font-size: 16px;
line-height: 20px;
color:darkgreen;
margin-bottom: 16px;
}
.brain-content h2{
font-size: 48px;
font-weight: bold;
color: #001931;
margin-bottom: 16px;
}
.brain-content p{
font-size: 16px;
line-height: 20px;
color: #627382;
margin-bottom: 30px;
}
.brain-content li{
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    list-style: none;

}
.list-item{

    display: flex;
    flex-direction: column;

}
.list-item .line{
    display: flex;
    flex-direction: row;
    align-items: center;
margin-bottom: 13px;
}
.list-item img{
    width: 12px;
    height: 12px;
}

#extra{
     background-color: #F7F6F2;
     width: 80%;
     margin: 0 auto ;
     margin-bottom: 120px;

}
.extra-content{
    padding: 140px;
    text-align: center;
}
.extra-content h2{
   font-size: 40px;
   color: #001931;
   
}
.extra-content p{
    margin-top: 24px;
   font-size: 16px;
   line-height: 24px;
   color: #627382;
   margin-bottom: 24px;
}
#footer{
    background-color: #001931;

    height: 60vh;
    /* padding: 115px 120px 180px 120px; */
    display: flex;
    flex-direction: column;
    gap:120px

}
.footer-section{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding-top: 100px;
}
.pimg p{
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer-icon{
display: flex;
gap: 20px;
}
.footer-icon img{
    width: 30px;
    height: 30px;
}
.finale{
    font-size: 16px;
    color: #FAFAFA;
    text-align: center;
    align-items: baseline;
}









